/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 63.5%;
  }
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  font-family: "Roboto Slab", serif;
}

body .wrapper {
  margin: 0 auto;
}

body .wrapper .effect-page {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background-color: #000000;
  opacity: 0;
  visibility: hidden;
}

body .wrapper .effect-page-appear {
  opacity: 0.6;
  visibility: inherit;
}

img,
video,
iframe {
  display: block;
  max-width: 100%;
}

input,
select {
  line-height: normal;
  outline: none;
}

a {
  display: block;
  color: #17130d;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header {
  max-width: 100%;
  position: relative;
}

.header-top {
  display: none;
  padding: 0 2rem;
  background-color: #17130d;
  border-bottom: 1px solid #ffdc73;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (min-width: 768px) {
  .header-top {
    display: block;
    padding: 0 4rem;
  }
}

.header-top .header-top-container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #ffffff;
  background-color: #17130d;
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
}

.header-top .header-top-container .time-hotline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header-top .header-top-container .time-hotline .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-right: 4rem;
}

.header-top .header-top-container .time-hotline .time img {
  margin-right: 1rem;
}

.header-top .header-top-container .time-hotline .hotline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header-top .header-top-container .time-hotline .hotline img {
  margin-right: 1rem;
}

.header-logo-desktop {
  display: none;
  position: absolute;
  top: 2.5rem;
  left: 50%;
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 1024px) {
  .header-logo-desktop {
    display: block;
  }
  .header-logo-desktop a {
    width: 10rem;
    height: 10rem;
    background-color: #241e15;
    border: 1px solid #ffdc73;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1024px) and (min-width: 1200px) {
  .header-logo-desktop a {
    width: 12rem;
    height: 12rem;
  }
}

@media screen and (min-width: 1024px) {
  .header-logo-desktop a img {
    display: block;
    max-width: 6rem;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media screen and (min-width: 1024px) and (min-width: 1200px) {
  .header-logo-desktop a img {
    max-width: 8rem;
  }
}

.header-bottom {
  background-color: #241e15;
}

.header-bottom-container {
  padding: 0.5rem 2rem;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (min-width: 768px) {
  .header-bottom-container {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .header-bottom-container {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .header-bottom-container .menu-mobile {
    display: none;
  }
}

.header-bottom-container .logo-mobile a {
  max-width: 6rem;
}

@media screen and (min-width: 1024px) {
  .header-bottom-container .logo-mobile {
    display: none;
  }
}

.header-bottom-container .header-bottom-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-bottom-container .header-bottom-menu ul {
  width: 60vw;
  height: 100vh;
  background-color: #241e15;
}

@media screen and (min-width: 768px) {
  .header-bottom-container .header-bottom-menu ul {
    width: 40vw;
  }
}

.header-bottom-container .header-bottom-menu ul li a {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #ffdc73;
}

@media screen and (min-width: 1024px) {
  .header-bottom-container .header-bottom-menu ul li a {
    font-size: 1.4rem;
    border: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .header-bottom-container .header-bottom-menu {
    position: static;
    opacity: 1 !important;
    margin-left: 0 !important;
    z-index: 0 !important;
    display: block;
    color: #ffdc73;
  }
  .header-bottom-container .header-bottom-menu ul {
    width: inherit;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header-bottom-container .header-bottom-menu ul li {
    padding: 2.5rem 2rem;
  }
}

@media screen and (min-width: 1024px) and (min-width: 1200px) {
  .header-bottom-container .header-bottom-menu ul li {
    padding: 2.5rem 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .header-bottom-container .header-bottom-menu ul li a {
    font-size: 1.4rem;
    color: #ffdc73;
    text-decoration: none;
  }
  .header-bottom-container .header-bottom-menu ul li a:hover {
    color: #ffffff;
  }
}

@media screen and (min-width: 1024px) and (min-width: 1200px) {
  .header-bottom-container .header-bottom-menu ul li a {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .header-bottom-container .header-bottom-menu ul li:first-child {
    padding-left: 0;
  }
  .header-bottom-container .header-bottom-menu ul li:nth-child(4) {
    margin-left: 28rem;
  }
}

@media screen and (min-width: 1024px) and (min-width: 1200px) {
  .header-bottom-container .header-bottom-menu ul li:nth-child(4) {
    margin-left: 30rem;
  }
}

.fixed-nav {
  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
  right: 0px;
}

@media screen and (min-width: 1200px) {
  .fixed-nav .header-logo-desktop a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 9.5rem;
    height: 9.5rem;
  }
  .fixed-nav .header-logo-desktop a img {
    max-width: 7rem;
  }
}

@media screen and (min-width: 1200px) {
  .fixed-nav .header-bottom-container .header-bottom-menu ul li {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 2rem 3rem;
  }
  .fixed-nav .header-bottom-container .header-bottom-menu ul li:first-child {
    padding-left: 0;
  }
}

.body {
  max-width: 100%;
  background-color: #241e15;
}

.body .slide-main {
  position: relative;
  overflow: hidden;
}

.body .slide-main .slide-main-container .slide-child video {
  width: 100%;
}

.body .slide-main .slide-main-container .slide-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, from(#241e15), color-stop(35.94%, rgba(36, 30, 21, 0.8)), color-stop(67.19%, rgba(36, 30, 21, 0.4)), to(rgba(36, 30, 21, 0)));
  background: linear-gradient(360deg, #241e15 0%, rgba(36, 30, 21, 0.8) 35.94%, rgba(36, 30, 21, 0.4) 67.19%, rgba(36, 30, 21, 0) 100%);
}

.body .form-main {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 2rem;
  font-size: 1.4rem;
  color: #ffdc73;
}

@media screen and (min-width: 768px) {
  .body .form-main {
    margin: 4rem auto;
    padding: 0 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .body .form-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .body .form-main {
    padding: 0;
  }
}

.body .form-main .form-1 {
  position: relative;
  background-color: #17130d;
  border: 1px solid #ffdc73;
  border-radius: 5px;
  padding: 2.5rem 1rem;
  margin: 4rem 0;
}

@media screen and (min-width: 1024px) {
  .body .form-main .form-1 {
    width: 50%;
    margin: 0;
  }
}

.body .form-main .form-1::before {
  content: url("../images/Villa-Gold-icon-6.svg");
  position: absolute;
  z-index: 3;
  top: -2.6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.body .form-main .form-1 .list-title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.body .form-main .form-1 .list-title ul li {
  font-size: 1.2rem;
  cursor: pointer;
}

.body .form-main .form-1 .list-title ul li:first-child {
  margin-right: 2rem;
}

.body .form-main .form-1 .list-title ul li:last-child {
  opacity: 0.5;
}

.body .form-main .form-1 .table-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.5rem;
}

.body .form-main .form-1 .table-content select,
.body .form-main .form-1 .table-content input {
  width: calc((100% / 2) - 0.5rem);
  border: 1px solid #ffdc73;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: #ffdc73;
  background-color: #241e15;
  line-height: normal;
}

.body .form-main .form-1 .table-content input::-webkit-input-placeholder {
  color: #ffdc73;
}

.body .form-main .form-1 .table-content input:-ms-input-placeholder {
  color: #ffdc73;
}

.body .form-main .form-1 .table-content input::-ms-input-placeholder {
  color: #ffdc73;
}

.body .form-main .form-1 .table-content input::placeholder {
  color: #ffdc73;
}

.body .form-main .form-1 .view-now {
  text-align: center;
  border-radius: 5px;
  padding: 0.6rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#c99a4b), color-stop(26.61%, #f0d563), color-stop(52.6%, #fef39a), color-stop(78.32%, #f0d563), to(#c99a4b));
  background: linear-gradient(90deg, #c99a4b 0%, #f0d563 26.61%, #fef39a 52.6%, #f0d563 78.32%, #c99a4b 100%);
}

.body .form-main .form-2 {
  position: relative;
  background-color: #17130d;
  border: 1px solid #ffdc73;
  border-radius: 5px;
  padding: 2.5rem 1rem;
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .body .form-main .form-2 {
    display: inline-block;
    margin-right: auto;
    margin-bottom: 0;
    width: calc((100% / 2) - 1rem);
  }
}

@media screen and (min-width: 1024px) {
  .body .form-main .form-2 {
    width: calc(25% - 1rem);
    margin: 0;
  }
}

.body .form-main .form-2::before {
  content: url("../images/Villa-Gold-icon-6.svg");
  position: absolute;
  z-index: 3;
  top: -2.6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.body .form-main .form-2 p {
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.body .form-main .form-2 .table-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.5rem;
}

.body .form-main .form-2 .table-content select {
  width: 100%;
  border: 1px solid #ffdc73;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: #ffdc73;
  background-color: #241e15;
  line-height: normal;
}

.body .form-main .form-2 .view-now {
  text-align: center;
  border-radius: 5px;
  padding: 0.6rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#c99a4b), color-stop(26.61%, #f0d563), color-stop(52.6%, #fef39a), color-stop(78.32%, #f0d563), to(#c99a4b));
  background: linear-gradient(90deg, #c99a4b 0%, #f0d563 26.61%, #fef39a 52.6%, #f0d563 78.32%, #c99a4b 100%);
}

.body .form-main .form-3 {
  position: relative;
  background-color: #17130d;
  border: 1px solid #ffdc73;
  border-radius: 5px;
  padding: 2.5rem 1rem;
}

@media screen and (min-width: 768px) {
  .body .form-main .form-3 {
    display: inline-block;
  }
}

@media screen and (min-width: 1024px) {
  .body .form-main .form-3 {
    width: calc(25% - 1rem);
  }
}

.body .form-main .form-3::before {
  content: url("../images/Villa-Gold-icon-6.svg");
  position: absolute;
  z-index: 3;
  top: -2.6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.body .form-main .form-3 p {
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.body .form-main .form-3 .table-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.5rem;
}

.body .form-main .form-3 .table-content select {
  width: calc((100% / 2) - 0.5rem);
  border: 1px solid #ffdc73;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: #ffdc73;
  background-color: #241e15;
  line-height: normal;
}

.body .form-main .form-3 .table-content select:last-child {
  width: 100%;
}

.body .form-main .form-3 .view-now {
  text-align: center;
  border-radius: 5px;
  padding: 0.6rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#c99a4b), color-stop(26.61%, #f0d563), color-stop(52.6%, #fef39a), color-stop(78.32%, #f0d563), to(#c99a4b));
  background: linear-gradient(90deg, #c99a4b 0%, #f0d563 26.61%, #fef39a 52.6%, #f0d563 78.32%, #c99a4b 100%);
}

.body .project-hightlight {
  max-width: 1170px;
  margin: 4rem auto;
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .body .project-hightlight {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .body .project-hightlight {
    padding: 0;
  }
}

.body .project-hightlight .title-block img {
  margin: 0 auto;
}

.body .project-hightlight .title-block h2 {
  text-align: center;
  color: #ffdc73;
  font-size: 1.8rem;
  padding: 1.5rem 0;
}

@media screen and (min-width: 1024px) {
  .body .project-hightlight .content {
    margin: 4rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.body .project-hightlight .content .content-left {
  margin-top: 4rem;
}

@media screen and (min-width: 1024px) {
  .body .project-hightlight .content .content-left {
    margin: 0;
    width: calc((100% / 2) - 2rem);
  }
}

.body .project-hightlight .content .content-left .img-description {
  position: relative;
  border-radius: 5px;
  border: 1px solid #ffdc73;
}

.body .project-hightlight .content .content-left .img-description::before {
  content: url("../images/Villa-Gold-icon-6.svg");
  position: absolute;
  z-index: 3;
  top: -2.6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.body .project-hightlight .content .content-left .img-description img {
  border-radius: 5px;
}

.body .project-hightlight .content .content-left a {
  font-size: 1.6rem;
  color: #ffdc73;
  margin: 1.5rem 0;
}

.body .project-hightlight .content .content-left .content-description {
  font-size: 1.4rem;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .body .project-hightlight .content .content-right {
    width: calc((100% / 2) - 2rem);
  }
}

.body .project-hightlight .content .content-right ul li {
  padding: 1rem 0;
  border-bottom: 1px dashed #ffdc73;
}

.body .project-hightlight .content .content-right ul li:last-child {
  border: 0;
}

.body .project-hightlight .content .content-right ul li a {
  font-size: 1.6rem;
}

.body .project-hightlight .content .content-right ul li:nth-child(odd) a {
  color: #ffdc73;
}

.body .project-hightlight .content .content-right ul li:nth-child(even) a {
  color: #ffffff;
}

.body .service {
  max-width: 1170px;
  margin: 4rem auto;
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .body .service {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .body .service {
    padding: 0;
  }
}

.body .service .title-block img {
  margin: 0 auto;
}

.body .service .title-block h2 {
  text-align: center;
  color: #ffdc73;
  font-size: 1.8rem;
  padding: 1.5rem 0;
}

@media screen and (min-width: 768px) {
  .body .service .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.body .service .content .content-child {
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .body .service .content .content-child {
    width: calc((100% / 2) - 2rem);
  }
}

.body .service .content .content-child .img-service {
  position: relative;
  border: 1px solid #ffdc73;
  border-radius: 5px;
}

.body .service .content .content-child .img-service::before {
  content: url("../images/Villa-Gold-icon-6.svg");
  position: absolute;
  z-index: 3;
  top: -2.6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.body .service .content .content-child .img-service:hover .effect-content-child {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.body .service .content .content-child .img-service .effect-content-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #17130d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}

.body .service .content .content-child .text-description {
  margin: 1.5rem 0;
  text-align: center;
  font-size: 1.6rem;
  color: #ffdc73;
}

.body .eternal {
  max-width: 1170px;
  margin: 4rem auto;
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .body .eternal {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .body .eternal {
    padding: 0;
  }
}

.body .eternal .eternal-content {
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .body .eternal .eternal-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .body .eternal .eternal-content .enternal-content-left {
    width: calc((100% / 2) - 1rem);
  }
}

.body .eternal .eternal-content .enternal-content-left h2 {
  text-align: center;
  color: #ffdc73;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .body .eternal .eternal-content .enternal-content-left h2 {
    text-align: inherit;
  }
}

.body .eternal .eternal-content .enternal-content-left p {
  color: #ffffff;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .body .eternal .eternal-content .enternal-content-left p {
    text-align: inherit;
  }
}

@media screen and (min-width: 768px) {
  .body .eternal .eternal-content .enternal-content-right {
    width: calc((100% / 2) - 1rem);
  }
}

.body .list-products {
  max-width: 1170px;
  margin: 4rem auto;
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .body .list-products {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .body .list-products {
    padding: 0;
    margin: 6rem auto;
  }
}

.body .list-products .list-products-1,
.body .list-products .list-products-2,
.body .list-products .list-products-3,
.body .list-products .list-products-4,
.body .list-products .list-products-5,
.body .list-products .list-products-6 {
  margin-top: 4rem;
}

.body .list-products .list-products-1 .title-block img,
.body .list-products .list-products-2 .title-block img,
.body .list-products .list-products-3 .title-block img,
.body .list-products .list-products-4 .title-block img,
.body .list-products .list-products-5 .title-block img,
.body .list-products .list-products-6 .title-block img {
  margin: 0 auto;
}

.body .list-products .list-products-1 .title-block h2,
.body .list-products .list-products-2 .title-block h2,
.body .list-products .list-products-3 .title-block h2,
.body .list-products .list-products-4 .title-block h2,
.body .list-products .list-products-5 .title-block h2,
.body .list-products .list-products-6 .title-block h2 {
  text-align: center;
  color: #ffdc73;
  font-size: 1.8rem;
  padding: 1.5rem 0;
}

.body .list-products .list-products-1 .child-container,
.body .list-products .list-products-2 .child-container,
.body .list-products .list-products-3 .child-container,
.body .list-products .list-products-4 .child-container,
.body .list-products .list-products-5 .child-container,
.body .list-products .list-products-6 .child-container {
  margin-top: 2rem;
  border-bottom: 1px solid #8c8c8c;
}

@media screen and (min-width: 768px) {
  .body .list-products .list-products-1 .child-container,
  .body .list-products .list-products-2 .child-container,
  .body .list-products .list-products-3 .child-container,
  .body .list-products .list-products-4 .child-container,
  .body .list-products .list-products-5 .child-container,
  .body .list-products .list-products-6 .child-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: 0;
  }
}

.body .list-products .list-products-1 .child-container .child-item,
.body .list-products .list-products-2 .child-container .child-item,
.body .list-products .list-products-3 .child-container .child-item,
.body .list-products .list-products-4 .child-container .child-item,
.body .list-products .list-products-5 .child-container .child-item,
.body .list-products .list-products-6 .child-container .child-item {
  margin-top: 4rem;
  padding-bottom: 1.5rem;
}

.body .list-products .list-products-1 .child-container .child-item:not(.child-item:first-child),
.body .list-products .list-products-2 .child-container .child-item:not(.child-item:first-child),
.body .list-products .list-products-3 .child-container .child-item:not(.child-item:first-child),
.body .list-products .list-products-4 .child-container .child-item:not(.child-item:first-child),
.body .list-products .list-products-5 .child-container .child-item:not(.child-item:first-child),
.body .list-products .list-products-6 .child-container .child-item:not(.child-item:first-child) {
  display: none;
}

@media screen and (min-width: 768px) {
  .body .list-products .list-products-1 .child-container .child-item,
  .body .list-products .list-products-2 .child-container .child-item,
  .body .list-products .list-products-3 .child-container .child-item,
  .body .list-products .list-products-4 .child-container .child-item,
  .body .list-products .list-products-5 .child-container .child-item,
  .body .list-products .list-products-6 .child-container .child-item {
    display: block !important;
    width: calc((100% / 2) - 2rem);
  }
}

@media screen and (min-width: 1024px) {
  .body .list-products .list-products-1 .child-container .child-item,
  .body .list-products .list-products-2 .child-container .child-item,
  .body .list-products .list-products-3 .child-container .child-item,
  .body .list-products .list-products-4 .child-container .child-item,
  .body .list-products .list-products-5 .child-container .child-item,
  .body .list-products .list-products-6 .child-container .child-item {
    width: calc((100% / 4) - 1.5rem);
  }
}

.body .list-products .list-products-1 .child-container .child-item .img-product,
.body .list-products .list-products-2 .child-container .child-item .img-product,
.body .list-products .list-products-3 .child-container .child-item .img-product,
.body .list-products .list-products-4 .child-container .child-item .img-product,
.body .list-products .list-products-5 .child-container .child-item .img-product,
.body .list-products .list-products-6 .child-container .child-item .img-product {
  position: relative;
  border: 1px solid #ffdc73;
  border-radius: 5px;
}

.body .list-products .list-products-1 .child-container .child-item .img-product::before,
.body .list-products .list-products-2 .child-container .child-item .img-product::before,
.body .list-products .list-products-3 .child-container .child-item .img-product::before,
.body .list-products .list-products-4 .child-container .child-item .img-product::before,
.body .list-products .list-products-5 .child-container .child-item .img-product::before,
.body .list-products .list-products-6 .child-container .child-item .img-product::before {
  content: url("../images/Villa-Gold-icon-6.svg");
  position: absolute;
  z-index: 3;
  top: -2.6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.body .list-products .list-products-1 .child-container .child-item .img-product img,
.body .list-products .list-products-2 .child-container .child-item .img-product img,
.body .list-products .list-products-3 .child-container .child-item .img-product img,
.body .list-products .list-products-4 .child-container .child-item .img-product img,
.body .list-products .list-products-5 .child-container .child-item .img-product img,
.body .list-products .list-products-6 .child-container .child-item .img-product img {
  border-radius: 5px;
}

.body .list-products .list-products-1 .child-container .child-item .title-product,
.body .list-products .list-products-2 .child-container .child-item .title-product,
.body .list-products .list-products-3 .child-container .child-item .title-product,
.body .list-products .list-products-4 .child-container .child-item .title-product,
.body .list-products .list-products-5 .child-container .child-item .title-product,
.body .list-products .list-products-6 .child-container .child-item .title-product {
  font-size: 1.4rem;
  color: #ffdc73;
  padding: 1.5rem 0;
}

.body .list-products .list-products-1 .child-container .child-item .info-product li,
.body .list-products .list-products-2 .child-container .child-item .info-product li,
.body .list-products .list-products-3 .child-container .child-item .info-product li,
.body .list-products .list-products-4 .child-container .child-item .info-product li,
.body .list-products .list-products-5 .child-container .child-item .info-product li,
.body .list-products .list-products-6 .child-container .child-item .info-product li {
  padding: 0.5rem 0;
}

.body .list-products .list-products-1 .child-container .child-item .info-product li img,
.body .list-products .list-products-2 .child-container .child-item .info-product li img,
.body .list-products .list-products-3 .child-container .child-item .info-product li img,
.body .list-products .list-products-4 .child-container .child-item .info-product li img,
.body .list-products .list-products-5 .child-container .child-item .info-product li img,
.body .list-products .list-products-6 .child-container .child-item .info-product li img {
  display: inline-block;
  margin-right: 1.5rem;
}

.body .list-products .list-products-1 .child-container .child-item .info-product li span,
.body .list-products .list-products-2 .child-container .child-item .info-product li span,
.body .list-products .list-products-3 .child-container .child-item .info-product li span,
.body .list-products .list-products-4 .child-container .child-item .info-product li span,
.body .list-products .list-products-5 .child-container .child-item .info-product li span,
.body .list-products .list-products-6 .child-container .child-item .info-product li span {
  font-size: 1.4rem;
  color: #ffffff;
}

.body .customer {
  max-width: 1170px;
  margin: 4rem auto;
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .body .customer {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .body .customer {
    margin: 6rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .body .customer {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .body .customer .customer-request {
    width: calc((100% / 2) - 1rem);
  }
}

.body .customer .customer-request .form-request {
  position: relative;
  color: #ffdc73;
  background-color: #17130d;
  border: 1px solid #ffdc73;
  border-radius: 5px;
  padding: 2.5rem 2rem;
}

.body .customer .customer-request .form-request::before {
  content: url("../images/Villa-Gold-icon-6.svg");
  position: absolute;
  z-index: 3;
  top: -2.6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.body .customer .customer-request .form-request::after {
  content: url("../images/Villa-Gold-icon-6.svg");
  position: absolute;
  z-index: 3;
  bottom: -2.6rem;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}

.body .customer .customer-request .form-request p {
  font-size: 1.4rem;
  text-align: center;
  cursor: pointer;
}

.body .customer .customer-request .form-request .table-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.5rem;
}

.body .customer .customer-request .form-request .table-content select,
.body .customer .customer-request .form-request .table-content input {
  width: calc((100% / 2) - 0.5rem);
  border: 1px solid #ffdc73;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: #ffdc73;
  background-color: #241e15;
  line-height: normal;
}

.body .customer .customer-request .form-request .table-content select:last-child,
.body .customer .customer-request .form-request .table-content input:last-child {
  width: 100%;
  padding: 2rem 1rem;
}

.body .customer .customer-request .form-request .table-content input::-webkit-input-placeholder {
  color: #ffdc73;
}

.body .customer .customer-request .form-request .table-content input:-ms-input-placeholder {
  color: #ffdc73;
}

.body .customer .customer-request .form-request .table-content input::-ms-input-placeholder {
  color: #ffdc73;
}

.body .customer .customer-request .form-request .table-content input::placeholder {
  color: #ffdc73;
}

.body .customer .customer-request .form-request .view-now {
  text-align: center;
  border-radius: 5px;
  padding: 0.6rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#c99a4b), color-stop(26.61%, #f0d563), color-stop(52.6%, #fef39a), color-stop(78.32%, #f0d563), to(#c99a4b));
  background: linear-gradient(90deg, #c99a4b 0%, #f0d563 26.61%, #fef39a 52.6%, #f0d563 78.32%, #c99a4b 100%);
}

.body .customer .customer-feedback {
  position: relative;
  background-color: #17130d;
  border: 1px solid #ffdc73;
  border-radius: 5px;
  padding: 2.5rem 2rem;
  margin-top: 8rem;
}

@media screen and (min-width: 1024px) {
  .body .customer .customer-feedback {
    width: calc((100% / 2) - 1rem);
    margin: 0;
  }
}

.body .customer .customer-feedback::before {
  content: url("../images/Villa-Gold-icon-6.svg");
  position: absolute;
  z-index: 3;
  top: -2.6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.body .customer .customer-feedback::after {
  content: url("../images/Villa-Gold-icon-6.svg");
  position: absolute;
  z-index: 3;
  bottom: -2.6rem;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}

.body .customer .customer-feedback h3 {
  font-size: 1.4rem;
  color: #ffdc73;
  text-align: center;
  cursor: pointer;
  margin: 1rem 0;
}

.body .customer .customer-feedback .feedback-item p {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
}

.body .customer .customer-feedback .feedback-item .avt {
  background-image: url("../images/Villa-Gold-icon-border-avt.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 7.5rem;
  height: 7.5rem;
  margin: 1.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.body .customer .customer-feedback .feedback-item .avt img {
  width: 6.2rem;
  border-radius: 50%;
}

.body .customer .customer-feedback .feedback-item h4 {
  font-size: 1.2rem;
  color: #ffdc73;
  text-align: center;
  margin: 0.5rem 0;
}

.body .customer .customer-feedback .feedback-item span {
  display: block;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.5rem;
}

.body .customer .btn-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .body .customer .btn-container {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.body .customer .btn-container .btn-left {
  margin-right: 1.5rem;
  cursor: pointer;
}

.body .customer .btn-container .btn-right {
  cursor: pointer;
}

.body .policy {
  max-width: 1170px;
  margin: 4rem auto;
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .body .policy {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .body .policy {
    padding: 0;
  }
}

.body .policy .policy-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #17130d;
  border: 1px solid #ffdc73;
  border-radius: 5px;
  padding: 2.5rem 2rem;
}

@media screen and (min-width: 768px) {
  .body .policy .policy-container::before {
    content: url("../images/Villa-Gold-icon-6.svg");
    position: absolute;
    z-index: 3;
    top: 50%;
    left: -5rem;
    -webkit-transform: translateY(-50%) rotate(-90deg);
            transform: translateY(-50%) rotate(-90deg);
  }
  .body .policy .policy-container::after {
    content: url("../images/Villa-Gold-icon-6.svg");
    position: absolute;
    z-index: 3;
    top: 50%;
    right: -5rem;
    -webkit-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
  }
}

.body .policy .policy-container .policy-item {
  width: calc((100% / 2) - 0.5rem);
  font-size: 1.2rem;
  color: #ffdc73;
  text-align: center;
}

.body .policy .policy-container .policy-item:nth-child(even) {
  display: none;
}

@media screen and (min-width: 768px) {
  .body .policy .policy-container .policy-item {
    display: block !important;
    width: calc((100% / 4) - 1rem);
  }
}

.body .policy .policy-container .policy-item img {
  max-width: 4.5rem;
  margin: 0 auto;
}

.body .policy .policy-container .policy-item p {
  margin: 1rem 0;
}

.body .policy .policy-container .policy-item span {
  color: #ffffff;
  font-size: 1.2rem;
}

.body .video-news {
  max-width: 1170px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

@media screen and (min-width: 768px) {
  .body .video-news {
    padding: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .body .video-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .body .video-news {
    padding: 4rem 0;
  }
}

.body .video-news .title-block img {
  margin: 0 auto;
}

.body .video-news .title-block h2 {
  text-align: center;
  color: #ffdc73;
  font-size: 1.8rem;
  padding: 1.5rem 0;
}

@media screen and (min-width: 1024px) {
  .body .video-news .video-container {
    width: calc((100% / 2) - 1rem);
  }
}

.body .video-news .video-container .video-content {
  margin-top: 4rem;
}

.body .video-news .video-container .video-content .video-large video {
  border: 1px solid #ffdc73;
  border-radius: 5px;
}

.body .video-news .video-container .video-content .list-video {
  display: none;
}

@media screen and (min-width: 768px) {
  .body .video-news .video-container .video-content .list-video {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .body .video-news .video-container .video-content .list-video .video-child {
    margin-top: 1rem;
    width: calc((100% / 5) - 1rem);
  }
  .body .video-news .video-container .video-content .list-video .video-child img {
    border-radius: 5px;
    border: 1px solid #ffdc73;
  }
}

.body .video-news .news-container {
  margin-top: 4rem;
}

@media screen and (min-width: 1024px) {
  .body .video-news .news-container {
    margin: 0;
    width: calc((100% / 2) - 1rem);
  }
}

.body .video-news .news-container .news-content {
  margin-top: 2rem;
  color: #ffdc73;
}

.body .video-news .news-container .news-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-bottom: 1px dashed #ffdc73;
  padding: 1.5rem 0;
}

@media screen and (min-width: 768px) {
  .body .video-news .news-container .news-content ul li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.body .video-news .news-container .news-content ul li img {
  width: 30%;
  border-radius: 5px;
  border: 1px solid #ffdc73;
  margin-right: 2rem;
}

.body .video-news .news-container .news-content ul li p {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .body .video-news .news-container .news-content ul li p {
    color: #ffdc73;
  }
}

.body .video-news .news-container .news-content ul li span {
  display: none;
}

@media screen and (min-width: 768px) {
  .body .video-news .news-container .news-content ul li span {
    display: block;
    padding: 1rem 0;
    color: #ffffff;
  }
}

.body .video-news .news-container .news-content ul li:nth-child(even) {
  color: #ffffff;
}

.body .video-news .news-container .news-content ul li:last-child {
  border: 0;
}

.footer {
  max-width: 100%;
  padding: 2rem;
  font-size: 1.4rem;
  background-color: #17130d;
  color: #ffdc73;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 0;
  }
}

.footer .footer-top {
  max-width: 1170px;
  margin: 0 auto;
}

.footer .footer-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1rem 0;
  overflow-x: auto;
}

@media screen and (min-width: 1200px) {
  .footer .footer-top ul {
    padding: 3rem 0;
  }
}

.footer .footer-top ul li {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.footer .footer-top ul li a {
  font-size: 1.2rem;
  color: #ffdc73;
  padding: 0 1rem;
  border-right: 1px solid #8c8c8c;
}

.footer .footer-top ul li:first-child a {
  padding-left: 0;
}

.footer .footer-top ul li:last-child a {
  border-right: 0;
  padding-right: 0;
}

.footer .footer-middle {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .footer .footer-middle {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 6rem 0;
  }
}

.footer .footer-middle .title {
  color: #ffdc73;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #8c8c8c;
}

.footer .footer-middle .title span {
  display: block;
  color: #ffffff;
}

.footer .footer-middle .footer-logo {
  width: 100%;
  padding: 3rem 0;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .footer .footer-middle .footer-logo {
    width: calc((100% / 4) - 2rem);
    padding: 0;
  }
}

.footer .footer-middle .footer-logo .footer-img {
  width: 15rem;
  margin: 0 auto;
}

.footer .footer-middle .footer-logo span {
  display: inline-block;
  padding-top: 1rem;
}

.footer .footer-middle .footer-logo p {
  color: #ffffff;
  padding-top: 1rem;
}

.footer .footer-middle .company-info {
  width: calc((100% / 2) - 1rem);
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .footer .footer-middle .company-info {
    width: calc((100% / 4) - 2rem);
  }
}

.footer .footer-middle .company-info p {
  color: #ffffff;
  padding: 0.5rem 0;
}

.footer .footer-middle .company-info p span {
  display: block;
  color: #ffdc73;
}

@media screen and (min-width: 1024px) {
  .footer .footer-middle .company-info p span {
    display: inline-block;
  }
}

.footer .footer-middle .support {
  width: calc((100% / 2) - 1rem);
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .footer .footer-middle .support {
    width: calc((100% / 4) - 2rem);
  }
}

.footer .footer-middle .support p {
  color: #ffffff;
  padding: 0.5rem 0;
}

.footer .footer-middle .support span {
  display: block;
  color: #ffffff;
}

.footer .footer-middle .support .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 1rem;
}

.footer .footer-middle .support .social a {
  margin-right: 2rem;
}

.footer .footer-middle .support .social a i {
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 2rem;
}

.footer .footer-middle .support .social a i:hover {
  color: #ffdc73;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer .footer-middle .map {
  width: 100%;
  margin-top: 2rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .footer .footer-middle .map {
    width: calc((100% / 4) - 2rem);
    margin: 0;
  }
}

.footer .footer-middle .map span {
  display: block;
  color: #ffffff;
}

.footer .footer-middle .map .map-details {
  margin-top: 1rem;
  width: 100%;
  height: 18rem;
}

@media screen and (min-width: 1024px) {
  .footer .footer-middle .map .map-details {
    height: 12rem;
  }
}

.footer .footer-middle .map .map-details iframe {
  width: 100%;
  height: 100%;
}

.footer .footer-bottom {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  padding: 3rem 0;
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .footer .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0;
  }
}

.footer .footer-bottom .footer-bottom-left {
  border-bottom: 1px solid #8c8c8c;
  padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .footer .footer-bottom .footer-bottom-left {
    border: 0;
    padding: 0;
  }
}

.footer .footer-bottom .footer-bottom-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-bottom .footer-bottom-left ul li {
  padding: 0 0.5rem;
  border-right: 1px solid #8c8c8c;
}

.footer .footer-bottom .footer-bottom-left ul li:first-child {
  padding-left: 0;
}

.footer .footer-bottom .footer-bottom-left ul li:last-child {
  padding-right: 0;
  border-right: 0;
}

.footer .footer-bottom .footer-bottom-right {
  padding-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .footer .footer-bottom .footer-bottom-right {
    padding: 0;
  }
}
/*# sourceMappingURL=main.css.map */